<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="/static/materialdesignicons/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/css/user.css">
    <title th:text="${userAggregateRoot.username + '的主页 - RowSpot'}">个人中心</title>
</head>
<body>

<div th:replace="/front/base/navbar::header"></div>
<div th:replace="/front/base/user-profile::userProfile"></div>

<section class="section">
    <div class="container is-max-widescreen">
        <div class="columns">
            <div th:replace="/front/base/left-nav::leftNav('answer')"></div>

            <div class="column is-four-fifths">
                <div class="content pb__00 mb__25" style="border-bottom: 1px solid #eeeeee;">
                    <h4 class="is-4 pb__00">回答</h4>
                </div>
                <article class="media">
                    <figure class="media-left">
                        <p class="image is-48x48">
                            <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <a href="javascript:void(0);">半兽人</a> 在<a href="javascript:void(0);">Kubernetes容器args报错</a> 中发表评论：
                                <br>
                                Linux的命令是由一连串的单词组成的。如果你在shell提示符下键入一个命令，它就会负责帮你拆成单词，但在`Kubernetes args: list`中，你需要自己拆出单词。 ``` args: - run - '' # 你想让它们作为两个独立的参数，所以需要是2个独立列表 - --env-var - baseUrl= ``` 如果两个参数在同一个列表项中，就是一个 "单词"。 ``` # /bin/ls "/app/some directory/some file" command: - /bin/ls # 单个参数，包括空格 - /app/some directory/some file ``` 同样的规则适用于Docker Compose `entrypoint:`和`command:`以及JSON-syntax Dockerfile `ENTRYPOINT`和`CMD`指令，只是Docker原生形式也都接受一个纯字符串，它们将在空格上进行分割（在Dockerfile情况下使用shell，但在Compose情况下不使用）。 在你提供的`docker run`命令中，你的主机系统上的shell会先进行处理，所以`--env-var`选项和`baseUrl=...`参数在传递到容器中之前会被拆成单独的参数。
                                <br>
                                <small>2天前</small>
                            </p>
                        </div>
                        <nav class="level is-mobile">
                            <div class="level-left">
                                <a class="level-item">
                                    <span class="icon is-small"><i class="fas fa-reply"></i></span>
                                </a>
                                <a class="level-item">
                                    <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                                </a>
                                <a class="level-item">
                                    <span class="icon is-small"><i class="fas fa-heart"></i></span>
                                </a>
                            </div>
                        </nav>
                    </div>
                </article>

                <article class="media">
                    <figure class="media-left">
                        <p class="image is-48x48">
                            <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <a href="javascript:void(0);">范姐</a> 回复<a href="javascript:void(0);">不荒</a> 在<a href="javascript:void(0);">Kubernetes容器args报错</a> 中
                                <br>
                                感谢您的解释，按照这个解决了。不过我还必须删除URL周围的引号，因为使用shell运行命令的话就是必需的。
                                <br>
                                <small>2天前</small>
                            </p>
                        </div>
                        <nav class="level is-mobile">
                            <div class="level-left">
                                <a class="level-item">
                                    <span class="icon is-small"><i class="fas fa-reply"></i></span>
                                </a>
                                <a class="level-item">
                                    <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                                </a>
                                <a class="level-item">
                                    <span class="icon is-small"><i class="fas fa-heart"></i></span>
                                </a>
                            </div>
                        </nav>
                    </div>
                </article>

                <article class="media">
                    <figure class="media-left">
                        <p class="image is-48x48">
                            <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <a href="javascript:void(0);">不荒</a> 回复<a href="javascript:void(0);">不荒</a> 在<a href="javascript:void(0);">kafka 消费者消费不到数据</a> 中

                                <br>
                                第二个你的消费者组没有注册上去，你得详细描述一下，另起一个问题吧。
                                <br>
                                <small>5天前</small>

                            </p>
                        </div>
                        <nav class="level is-mobile">
                            <div class="level-left">
                                <a class="level-item">
                                    <span class="icon is-small"><i class="fas fa-reply"></i></span>
                                </a>
                                <a class="level-item">
                                    <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                                </a>
                                <a class="level-item">
                                    <span class="icon is-small"><i class="fas fa-heart"></i></span>
                                </a>
                            </div>
                        </nav>
                    </div>
                </article>

                <nav class="pagination is-small is-centered" role="navigation" aria-label="pagination">
                    <ul class="pagination-list">
                        <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
                        <li><span class="pagination-ellipsis">&hellip;</span></li>
                        <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
                        <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
                        <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
                        <li><span class="pagination-ellipsis">&hellip;</span></li>
                        <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>

<div th:replace="/front/base/footer::footer"></div>
<script src="/static/axios.min.js"></script>
<script src="/static/js/version.js"></script>

</body>
</html>