<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="/static/materialdesignicons/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/css/user.css">
    <title th:text="${userAggregateRoot.username + '的主页 - RowSpot'}">个人中心</title>
</head>
<body>
<div th:replace="/front/base/navbar::header"></div>
<div th:replace="/front/base/user-profile::userProfile"></div>

<section class="section">
    <div class="container is-max-widescreen">
        <div class="columns">
            <div th:replace="/front/base/left-nav::leftNav('collect')"></div>
            <div class="column is-four-fifths">
                <div class="content pb__00 mb__25" style="border-bottom: 1px solid #eeeeee;">
                    <h4 class="is-4 pb__00">收藏</h4>
                </div>
                <div class="columns" th:each="collect: ${pageAggregate.data}">
                    <div class="column is-four-fifths">
                        <a th:href="@{/} + ${collect.id}"
                           th:text="${collect.categoryName}"></a>
                    </div>
                    <div class="column">
                        <span th:text="${#dates.format(collect.createAt, 'yyyy-MM-dd')}">19 小时前</span>
                    </div>
                </div>

                <nav class="pagination is-small is-centered" role="navigation" aria-label="pagination">
                    <ul class="pagination-list">
                        <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
                        <li><span class="pagination-ellipsis">&hellip;</span></li>
                        <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
                        <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
                        <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
                        <li><span class="pagination-ellipsis">&hellip;</span></li>
                        <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>

<div th:replace="/front/base/footer::footer"></div>
<script src="/static/axios.min.js"></script>
<script src="/static/js/version.js"></script>

<script>
    const rootPath = '[[@{/}]]';
    // $(document).ready(function() {
        // alert(jobInfo)


    let updateJobBtn = document.getElementById('update-job-btn');
    let jobInput = document.getElementById('job-input');

    let editJobA = document.getElementById('edit-job');
    editJobA.addEventListener('click', function() {
        editJobA.style.display = 'none';
        updateJobBtn.style.display = '';
        jobInput.style.display = '';
    });

    updateJobBtn.addEventListener('click', function() {
        const jobInfo = document.getElementById('job-input').value;
        $.ajax({
            url: rootPath + 'api/user/addition',
            data: JSON.stringify({"jobInfo": jobInfo}),
            contentType: 'application/json;charset=utf8',
            method: 'POST',
            dataType: 'json',
            success: function (res) {
                if(res) {
                    let jobText = document.getElementById('job-text');
                    jobText.innerText = jobInfo;
                    updateJobBtn.style.display = 'none';
                    jobInput.style.display = 'none';
                    editJobA.style.display = '';
                }
            }
        });
    });
    // });
</script>

</body>
</html>