<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="/static/materialdesignicons/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/css/user.css">
    <title th:text="${userAggregateRoot.username + '的主页 - RowSpot'}">个人中心</title>
</head>
<body>
<div th:replace="/front/base/navbar::header"></div>
<div th:replace="/front/base/user-profile::userProfile"></div>

<section class="section">
    <div class="container is-max-widescreen">
        <div class="columns">
            <div th:replace="/front/base/left-nav::leftNav('followed')"></div>
            <div class="column is-four-fifths">
                <div class="content pb__00 mb__25" style="border-bottom: 1px solid #eeeeee;">
                    <h4 class="is-4 pb__00" th:text="${followType? '他的粉丝':'他的关注'}">问题</h4>
                </div>
                <div class="columns">
                    <div class="column">
                        <article class="media" th:each="followAggregate : ${pageAggregate.data}">
                            <figure class="media-left">
                                <p class="image is-32x32">
                                    <img src="https://www.orchome.com/images/user/noHeadPortraitV2.png"
                                         class="is-rounded" alt="">
                                </p>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <a th:href="@{/user/} + ${followAggregate.followUserId} + '/profile'" class="has-text-success" th:text="${followAggregate.followUsername}"></a><br/>
                                    <span class="font__size__13 user__info__text__gray"
                                          th:text="${followAggregate.followUserPrestige}+' 声望'"></span>
                                    <span class="font__size__13 user__info__text__gray ml__25"
                                          th:text="${#dates.format(followAggregate.createAt, 'yyyy-MM-dd HH:mm')}"></span>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>

                <nav class="pagination is-small is-centered" role="navigation" aria-label="pagination">
                    <ul class="pagination-list">
                        <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
                        <li><span class="pagination-ellipsis">&hellip;</span></li>
                        <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
                        <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
                        <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
                        <li><span class="pagination-ellipsis">&hellip;</span></li>
                        <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>

<div th:replace="/front/base/footer::footer"></div>
<script src="/static/axios.min.js"></script>
<script src="/static/js/version.js"></script>

<script>
    let rootPath = '[[@{/}]]';
    let id = '[[${userAggregateRoot.userId}]]'
    window.onload = function() {
        axios({
            url: rootPath + 'api/follow/' + id + '/count',
            headers: {
                'Content-Type': 'application/json;charset=utf8',
            },
            method: 'GET'
        }).then(res => {
            document.getElementById('followedCount').innerText = res.data.followedCount+' 人';
            document.getElementById('followingCount').innerText = res.data.followingCount +' 人';
        }).catch(res => {
            document.getElementById('followedCount').innerText = '0';
            document.getElementById('followingCount').innerText = '0';
        });
    }
</script>

</body>
</html>
