<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="/static/materialdesignicons/css/materialdesignicons.min.css">
    <title>Title</title>
</head>
<body>
    <div class="field">
        <p class="control has-icons-left has-icons-right">
            <input class="input" id="oldPassword" type="password" placeholder="原密码">
            <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
            <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
        </p>
    </div>
    <div class="field">
        <p class="control has-icons-left">
            <input class="input" id="newPassword" type="password" placeholder="Password">
            <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
        </p>
    </div>
    <div class="field">
        <p class="control">
            <button id="updatePasswordBtn" class="button is-success">
                保存
            </button>
        </p>
    </div>
<script src="/static/axios.min.js"></script>
<script>
    const rootPath = '/';
    const updatePasswordBtnElement = document.getElementById('updatePasswordBtn');
    const oldPasswordInputElement = document.getElementById('oldPassword');
    const newPasswordInputElement = document.getElementById('newPassword');

    updatePasswordBtnElement.addEventListener('click', function() {
        let oldPassword = oldPasswordInputElement.value;
        let newPassword = newPasswordInputElement.value;
        if(oldPassword === null || oldPassword.length === 0 || oldPassword === ''){
            alert('原密码不能为空');
            return;
        }
        if(newPassword === null || newPassword.length === 0 || newPassword === ''){
            alert('新密码码不能为空');
            return;
        }

        axios({
            url: rootPath + 'api/user/password/update',
            data: {'oldPassword': oldPassword, 'newPassword': newPassword},
            header: {
                'Content-Type': 'application/json; charset=utf8'
            },
            method: 'PUT'
        }).then(response => {
            alert('修改成功');

        }).catch(error => {
            let data = error.data.errors;
            alert(data.msg);
        })
    })

</script>
</body>
</html>
