<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="/static/materialdesignicons/css/materialdesignicons.min.css">
    <title>Title</title>
</head>
<body>

<section class="hero is-hero-bar">
    <div class="hero-body">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <h1 class="title">
                        Profile
                    </h1>
                </div>
            </div>
            <div class="level-right" style="display: none;">
                <div class="level-item"></div>
            </div>
        </div>
    </div>
</section>
<section class="section is-main-section">
    <div class="tile is-ancestor">
        <div class="tile is-parent">
            <div class="card tile is-child">
                <header class="card-header">
                    <p class="card-header-title">
                        <span class="icon">
                            <i class="mdi mdi-account-circle default"></i>
                        </span>
                        Edit Profile
                    </p>
                </header>
                <div class="card-content">
                    <form>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">头像</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="field file">
                                        <label class="upload control">
                                            <a class="button is-primary">
                                                <span class="icon">
                                                    <i class="mdi mdi-upload default"></i>
                                                </span>
                                                <span>Pick a file</span>
                                            </a>
                                            <input id="avatarFile" type="file">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">姓名</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input type="text" autocomplete="on" name="name" value="John Doe" class="input" required>
                                    </div>
                                    <p class="help">Required. Your name</p>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">邮箱</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input type="email" autocomplete="on" name="email" value="user@example.com" class="input" required>
                                    </div>
                                    <p class="help">Required. Your e-mail</p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal"></div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <button type="button" id="updateAvatarBtn" class="button is-primary">
                                            保存
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="tile is-parent">
            <div class="card tile is-child">
                <header class="card-header">
                    <p class="card-header-title">
                        <span class="icon"><i class="mdi mdi-account default"></i></span>
                        Profile
                    </p>
                </header>
                <div class="card-content">
                    <div class="is-user-avatar image has-max-width is-aligned-center is-128x128">
                        <img class="is-rounded" src="https://avatars.dicebear.com/v2/initials/john-doe.svg" alt="John Doe">
                    </div>
                    <hr>
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control is-clearfix">
                            <input type="text" readonly value="John Doe" class="input is-static">
                        </div>
                    </div>
                    <hr>
                    <div class="field">
                        <label class="label">E-mail</label>
                        <div class="control is-clearfix">
                            <input type="text" readonly value="user@example.com" class="input is-static">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                <span class="icon">
                    <i class="mdi mdi-lock default"></i>
                </span>
                修改密码
            </p>
        </header>
        <div class="card-content">
            <form>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">当前密码</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="password" name="password_current" autocomplete="current-password"
                                       class="input" required>
                            </div>
                            <p class="help">Required. Your current password</p></div>
                    </div>
                </div>
                <hr>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">新密码</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="password" autocomplete="new-password" name="password" class="input" required>
                            </div>
                            <p class="help">Required. New password</p>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">确认密码</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="password" autocomplete="new-password" name="password_confirmation" class="input" required>
                            </div>
                            <p class="help">Required. New password one more time</p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="field is-horizontal">
                    <div class="field-label is-normal"></div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <button type="submit" class="button is-primary">
                                    保存
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>


<section class="hero is-hero-bar is-main-hero">
    <div class="hero-body">
        <div class="level">
            <div class="level-left">
                <div class="level-item is-hero-avatar-item">
                    <div class="image is-user-avatar">
                        <img class="is-rounded" src="https://avatars.dicebear.com/v2/initials/john-doe.svg">
                    </div>
                </div>
                <div class="level-item is-hero-content-item">
                    <div>
                        <h1 class="title is-spaced">Howdy, <b>John Doe</b></h1>
                        <h3 class="subtitle">Last login <b>12 mins ago</b> from <b>192.168.1.1</b></h3>
                        <p>You have <b>6 tasks</b> due today and <b>84 inquiries</b></p>
                    </div>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <a href="profile.html" class="button is-light" title="Profile">
                        <span class="icon"><i class="mdi mdi-account"></i></span>
                        <span>Manage profile</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section is-main-section">
    <div class="field">
        <p class="control has-icons-left has-icons-right">
            <input class="input" id="oldPassword" type="password" placeholder="原密码">
            <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
            <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
        </p>
    </div>
    <div class="field">
        <p class="control has-icons-left">
            <input class="input" id="newPassword" type="password" placeholder="Password">
            <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
        </p>
    </div>
    <div class="field">
        <p class="control">
            <button id="updatePasswordBtn" class="button is-success">
                保存
            </button>
        </p>
    </div>
</section>
<script src="/static/axios.min.js"></script>
<script>
    const rootPath = '/';
    const updatePasswordBtnElement = document.getElementById('updatePasswordBtn');
    const oldPasswordInputElement = document.getElementById('oldPassword');
    const newPasswordInputElement = document.getElementById('newPassword');

    updatePasswordBtnElement.addEventListener('click', function() {
        let oldPassword = oldPasswordInputElement.value;
        let newPassword = newPasswordInputElement.value;
        if(oldPassword === null || oldPassword.length === 0 || oldPassword === ''){
            alert('原密码不能为空');
            return;
        }
        if(newPassword === null || newPassword.length === 0 || newPassword === ''){
            alert('新密码码不能为空');
            return;
        }

        axios({
            url: rootPath + 'api/user/password/update',
            data: {'oldPassword': oldPassword, 'newPassword': newPassword},
            header: {
                'Content-Type': 'application/json; charset=utf8'
            },
            method: 'PUT'
        }).then(response => {
            alert('修改成功');

        }).catch(error => {
            let data = error.data.errors;
            alert(data.msg);
        })
    })


    const updateAvatarBtnElement = document.getElementById('updateAvatarBtn');
    updateAvatarBtnElement.addEventListener('click', function() {

        let formData = new FormData();
        let file = document.getElementById('avatarFile').files[0];

        if(file === null || file === undefined) {
            alert('请选择文件');
            return;
        }

        formData.append("file", file);

        axios({
            url: rootPath + 'api/files/upload',
            headers: {
                'Content-Type':'multipart/form-data;boundary='+new Date().getTime()
            },
            method: 'POST',
            data: formData
        }).then(res => {

        }).catch(error => {

        })


    })

</script>
</body>
</html>
