html, body {
    font-family: Helvetica Neue,Luxi Sans,DejaVu Sans,Hiragino Sans GB,Microsoft Yahei,sans-serif,
    Apple Color Emoji,Segoe UI Emoji,Noto Color Emoji,Segoe UI Symbol,Android Emoji,EmojiSymbols;!important;
    font-size: 14px !important;
}

textarea, input {
    box-shadow: none !important;
}

textarea, input:focus {
    box-shadow: none !important;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none; !important;
}

.article-type {
    padding: 8px 16px;
    border-top: 2px solid transparent;
    border-radius: 2px;
}

.article-type-active {
    padding: 8px 16px;
    border-radius: 2px;
    background-color: #ffffff;
    border-left: 1px silver solid;
    border-right: 1px silver solid;
    border-top: 2px solid orange;
}

.index_tag_container {
    padding-top: 10px;
}

.index_tag_container>div {
    margin-right: 8px;
    margin-bottom: 4px;
}

.tag {
    color: #00965e;
    background-color:#00965e1a;
    padding: 4px 8px;
    border-radius: 2px;
}

