<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--    <link rel="icon" type="image/x-icon" href="https://www.orchome.com/images/favicon.ico">-->
<!--    <link rel="stylesheet" href="/static/css/index.css">-->
    <link rel="stylesheet" href="/static/css/github-markdown.css">
    <link rel="stylesheet" href="/static/materialdesignicons/css/materialdesignicons.min.css">
    <title th:text="教程">教程-Rowspot.cn</title>
    <style>
        .jumbotron {
            padding-top: 2rem !important;
            padding-bottom: 0 !important;
            background-color: #f6f6f6;
        }
        textarea:focus {
            box-shadow: none !important;
        }
        .accordion>.card:not(:last-of-type) {
            border-radius: 4px;
            border-bottom: 1px silver solid;
        }

        .accordion>.card>.card-header{
            margin-bottom: -1px;
        }
    </style>
</head>
<body>
<header class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="https://static.oschina.net/new-osc/img/logo_new.svg">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-tag="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/dubbo/index">dubbo教程</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/netty/index">netty教程</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        分享
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <a class="dropdown-item disabled" href="#">分享</a>
                        <a class="dropdown-item" href="/write">技术分享</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item disabled" href="#">问答</a>
                        <a class="dropdown-item" href="/ask">提问</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userNavbarDropdown"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        不荒
                    </a>
                    <div class="dropdown-menu" aria-labelledby="userNavbarDropdown">
                        <a class="dropdown-item" href="/user/1/profile">我的空间</a>
                        <a class="dropdown-item" onclick="{alert('退出');}" href="javascript:void(0);">退出</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</header>
<main role="main">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-12 d-flex">
                    <div style="padding-top: 16px; padding-bottom: 8px;">
                        <h4 th:text="${articleDto.title}">dubbo 中文教程</h4>
                        <div>
                            <span class="tag">原创</span>
                            <span class="font-weight-bold text-success">
                                <a th:href="@{/user/} + ${articleDto.userDto.id} + @{/profile}" th:text="${articleDto.userDto.username}"></a>
                            </span>
                            <span class="ml-2">发表于:</span>
                            <span class="ml-1" th:text="${#temporals.format(articleDto.postAt, 'yyyy-MM-dd')}">2020-12-13</span>
                            <span class="ml-2">最后更新时间:</span>
                            <span class="ml-1" th:text="${#temporals.format(articleDto.modifyAt, 'yyyy-MM-dd')}">2020-12-13</span>
                        </div>
                    </div>
                    <div style="padding-top: 8px; padding-bottom: 16px;" class="ml-auto align-self-center">
                        <button class="btn btn-sm btn-success">订阅</button>
                        <span class="text-muted font-weight-bold ml-1">
                            <span th:text="${articleDto.subscribeCount}">467</span>
                            <span style="margin-left: 4px;">订阅</span>
                        </span>
                        <span class="text-muted font-weight-bold" style="margin-left: 6px;">
                            <span th:text="${articleDto.clickCount}">435278</span>
                            <span style="margin-left: 4px;">浏览</span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="d-flex" style="margin-top: 16px;">
                <div th:each="articleTypeDto : ${articleDto.articleTypeDtos}"
                     th:classappend="${articleTypeDto.selected} ?
                     'article-type-active' : 'article-type'">
                    <a th:href="${articleTypeDto.url}" th:text="${articleTypeDto.name}">问答区</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="markdown-body" th:utext="${articleDto.content}">

                </div>
                <div style="margin-top: 32px;" class="text-center">
                    <span><i class="fa fa-heart" aria-hidden="true"></i></span>
                    <span>赞一下</span>
                    <span class="badge badge-secondary" th:text="${articleDto.likeCount}">2</span>
                </div>
                <div style="margin-top: 32px;">
                    <div>上一条：<a href="" th:text="${articleNav.preArticle != null ? articleNav.preArticle.title : '到头了'}">dubbo 的下载和安装</a></div>
                    <div>下一条：<a href="" th:text="${articleNav.nextArticle != null ? articleNav.nextArticle.title : '到头了'}"></a></div>
                </div>
            </div>
            <div class="col-md-3" style="border-left: 1px silver solid;">
                <div class="accordion" id="accordionExample">
                    <div class="card" style="margin-bottom: 16px;" th:each="sidebarDetail : ${articleDto.sidebars}">
                        <div class="card-header" th:text="${sidebarDetail.name}"
                             style="padding: 8px 16px;cursor: pointer;"
                             data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="headingOne">
                                开始
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body" style="padding: 8px 16px;">
                                <ul class="list-unstyled">
                                    <li class="small" th:each="detail: ${sidebarDetail.details}">
                                        <a th:href="@{/} + ${detail.id}" th:text="${detail.title}">如何运作</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 32px;">
            <div class="col-md-12">
                <div class="d-flex" style="border-bottom: 1px silver solid">
                    <div>
                        有 <span th:text="${articleDto.commentCount}">75</span> 条评论
                    </div>
                    <div class="ml-auto">
                        <a href="">不荒</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 16px;">
            <div class="col-md-12">
                <div class="d-flex">
                    <div>
                        <img src="https://www.orchome.com/images/user/noHeadPortrait.png" class="mr-3 rounded"
                             style="height: 48px; width: 48px;" alt="...">
                    </div>
                    <div class="flex-grow-1">
                        <div class="d-flex flex-column" style="border: 1px solid silver; border-radius: 2px;">
                            <textarea name="content" id="content" style="border: none; resize: vertical; border-radius: 0; outline: none; box-shadow: none; border-bottom: 1px silver solid" class="form-control"></textarea>
                        </div>
                        <div class="d-flex justify-content-end">
                            <div>表情</div>
                            <div>
                                <button type="button" id="postComment" class="btn btn-primary">发表</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- 评论列表 -->
                <ul class="media-list" style="margin-top: 32px;">
                    <li class="media">
                        <div class="media-left">
                            <a href="#">
                                <img src="https://www.orchome.com/images/user/noHeadPortrait.png" class="mr-3 img-rounded"
                                     style="height: 48px; width: 48px;" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <div class="mt-0">
                                <a href="#" style="font-weight: bold;">张三</a>
                                <span class="text-muted" style="margin-left: 8px;">一月前</span>
                            </div>
                            <div class="markdown-body">
                                哥, 最近我在 部署一个kafka服务环境, 当然选择的是最新版本, 2.6.0, 两套环境, linux环境中一直没问题, 后来部署给测试用的环境是window, 刚启动的时候运行的挺好的, 隔一天就出问题了, zookeeper 没有停止, kafka服务停止了, 是不是window环境中不适合部署kafka ?
                                我看了下日志:
                            </div>
                            <div>
                                <span class="text-muted"><i class="fa fa-chevron-up" aria-hidden="true"></i>0</span>
                                <span class="text-muted" style="margin-left: 10px;"><i class="fa fa-chevron-down" aria-hidden="true"></i>0</span>
                                <span class="text-muted" style="margin-left: 10px;">回复</span>
                            </div>

                            <ul class="media-list" style="margin-top: 16px;">
                                <li class="media mt-3">
                                    <div class="media-left">
                                        <a href="#">
                                            <img src="https://www.orchome.com/images/user/noHeadPortrait.png" class="img-rounded"
                                                 style="height: 32px; width: 32px;" alt="...">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <div class="mt-0">
                                            <a href="#" style="font-weight: bold;">管理员</a>
                                            <span class="text-muted" style="margin-left: 8px">
                                                <i class="fa fa-forward" aria-hidden="true"></i>
                                            </span>
                                            <span class="text-muted" style="margin-left: 8px;"> 张三</span>
                                            <span class="text-muted" style="margin-left: 10px;">一月前</span>
                                        </div>
                                        <div class="markdown-body">
                                            Windows我没部署过额，
                                            这个是你重新启动kafka报的吧(kafka进程还在)，你先到kafka日志里，看看是否有什么异常导致kafka异常的。
                                        </div>
                                        <div>
                                                <span class="text-muted">
                                                    <i class="fa fa-chevron-up" aria-hidden="true"></i>
                                                    0
                                                </span>
                                            <span class="text-muted ml-2">
                                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                                    0
                                                </span>
                                            <span class="text-muted ml-2">回复</span>
                                        </div>
                                    </div>
                                </li>

                                <li class="media mt-3">
                                    <div class="media-left">
                                        <a class="mr-3" href="#">
                                            <img src="https://www.orchome.com/images/user/noHeadPortrait.png" class="img-rounded"
                                                 style="height: 32px; width: 32px;" alt="...">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <div class="mt-0">
                                            <a href="#" class="font-weight-bold small">管理员</a>
                                            <span class="text-muted ml-2 small">
                                                <i class="fa fa-forward" aria-hidden="true"></i>
                                            </span>
                                            <span class="text-muted ml-2 small"> 张三</span>
                                            <span class="text-muted ml-2 small">一月前</span>
                                        </div>
                                        <div class="markdown-body">
                                            有问题到问题专区提问吧
                                        </div>
                                        <div>
                                            <span class="text-muted"><i class="fa fa-chevron-up" aria-hidden="true"></i>
                                                0
                                            </span>
                                            <span class="text-muted ml-2"><i class="fa fa-chevron-down" aria-hidden="true"></i>
                                                    0
                                            </span>
                                            <span class="text-muted ml-2">回复</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>


<footer style="margin-top: 64px; background-color: black; padding-top: 32px; padding-bottom: 32px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center text-light" style="padding-top: 32px; padding-bottom: 32px;">
                Rowspot ©2018 www.rowspot.cn, All rights reserved. 粤ICP备19028930号
            </div>
        </div>
    </div>
</footer>

<script src="/static/jquery/jquery.min.js"></script>
<script src="/static/bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>

<script>
    let id = '[[${articleDto.id}]]';
    $(document).ready(function() {
        $.ajax({
            url: '/api/article/' + id +'/hit',
            method: 'PATCH',
            dataType: 'json'
        });


        loadComments(1);

    });

    document.getElementById('postComment').addEventListener('click', function() {
        let content = document.getElementById('content').value;

        if(content === null || content === "") {
            alert("评论内容不能为空");
            return;
        }



        $.ajax({
            url: "/api/comment/saved",
            method: 'POST',
            contentType: 'application/json;charset=utf8',
            data: JSON.stringify({"content": content, "article": {"id": id}}),
            dataType: 'json',
            success: function(res) {
                alert('评论成功：' + JSON.stringify(res));
            }
        });
    });


    function loadComments(page) {
        $.ajax({
            url: '/api/article/' + id + '/comments/' + page,
            dataType: 'json',
            contentType: 'application/json;charset=utf8',
            method: 'GET',
            success: function(res) {
                console.log(JSON.stringify(res));
                // {"currentPage":1,"pageSize":10,"totalRow":2,"totalPage":1,"data":[{"id":2,"content":"<p>可以啊，兄弟</p>\n","userDto":{"id":4,"email":"23456@qq.com","username":"测试"},"childrens":null},{"id":3,"content":"<p>还行还行，过奖了，兄弟</p>\n","userDto":{"id":4,"email":"23456@qq.com","username":"测试"},"childrens":null}],"firstPage":true,"lastPage":false,"hasPreviousPage":false,"hasNextPage":false}

                let html = "";
                for(let i = 0; i < res.data.length; i++) {
                    // html += ;

                }

            }
        });
    }

</script>
</body>
</html>