<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="/static/markdown-editor-master/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="/static/css/editor.css">
    <link rel="stylesheet" href="/static/markdown-editor-master/codemirror/prism.css">
    <link rel="stylesheet" href="/static/css/github-markdown.css">
    <link rel="stylesheet" href="/static/materialdesignicons/css/materialdesignicons.min.css">
    <style>
        body {
            background-color: #e9ecef!important;
        }
        .section {
            padding-top: 1.5rem;
        }
    </style>
    <title>提问题-RowSpot</title>
</head>
<body>
<div th:replace="/front/base/navbar::header"></div>
<section class="section">
    <div class="container is-max-widescreen">
        <div class="columns">
            <div class="column">
                <div class="control has-icons-right">
                    <input id="title" autocomplete="off" class="input is-medium" type="text" placeholder="标题">
                    <span class="mdi mdi-lock icon is-right" aria-hidden="true"></span>
                </div>
                <p id="titleHelp" style="display: none;" class="help is-danger">
                    请填写标题
                </p>
            </div>
        </div>

        <div class="columns">
            <div class="column is-one-quarter">
                <div class="field">
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select id="category"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns is-gapless" style="border-radius: 4px; border: 1px solid #dbdbdb; height: 550px; max-height: 550px;">
            <div class="column is-half has-fixed-size" style="border-top-left-radius: 4px; border-bottom-left-radius: 4px;">
                <textarea name="content" id="content"  style="padding: 8px 16px; height: 100%; border-top-left-radius: 4px; border-bottom-left-radius: 4px;" placeholder="内容简介"></textarea>
            </div>
            <div class="column is-half has-fixed-size markdown-body" id="preview_out"></div>
        </div>

        <div class="field is-grouped is-grouped-right">
            <div class="control">
                <button class="button is-warning">存为草稿</button>
            </div>
            <div class="control">
                <button id="post-question-btn" class="button is-success">提交</button>
            </div>
        </div>
    </div>
</section>

<script src="/static/markdown-editor-master/codemirror/lib/codemirror.js"></script>
<script src="/static/markdown-editor-master/codemirror/markdown/markdown.js"></script>
<script src="/static/markdown-editor-master/codemirror/marked.min.js"></script>
<script src="/static/markdown-editor-master/codemirror/prism.js"></script>
<script src="/static/sweetalert2/sweetalert2.min.js"></script>
<script src="/static/axios.min.js"></script>

<script>
    let editor;
    let column;
    let rootPath = '[[@{/}]]';
    window.onload = function() {
        let markedRender = new marked.Renderer();
        marked.setOptions({
            render: markedRender,
            gfm: true,
            tables: true,
            breaks: true, // '>' 换行，回车换行成 <br>
            pedantic: false,
            sanitize: true,
            smartLists: true,
            smartypants: false
        });

        editor = CodeMirror.fromTextArea(document.getElementById('content'), {
            mode:'markdown',
            autoCloseBrackets: true,
            matchBrackets: true,
            lineWrapping: true
        });
        editor.on('change', editorOnHandler);
        initialCategories();
    }

    function editorOnHandler(cm, co) {
        console.log(cm.getValue());

        document.getElementById('preview_out').innerHTML = marked(cm.getValue());


        // $('.markdown-body').html(marked(cm.getValue()));
        // $('.markdown-body pre code').each(function(i, block) {
        //     Prism.highlightElement(block);
        // });
    }


    function initialCategories() {
        axios({
            url: rootPath + 'api/categories',
            method: 'GET',
            header: {
                'Content-Type': 'application/json;charset=utf8',
            }
        }).then(response => {
            let data = response.data;
            let html = "";
            for(let i = 0; i < data.length; i++){
                let category = data[i];
                html += '<option value="' + category.id + '">' + category.name + '</option>';
            }
            document.getElementById('category').innerHTML = html;
        }).catch(error => {

        });
    }

    document.getElementById('post-question-btn').addEventListener('click', function() {
        let article = getArticle();
        let titleElement = document.getElementById('title');
        if(article.title === null || article.title.length === 0 || article.title === '') {
            titleElement.classList.add('is-danger');
            document.getElementById('titleHelp').style.display = 'block'
            return;
        }
        let postQuestionBtn = this;
        postQuestionBtn.classList.add('is-loading')
        postQuestionBtn.disabled = 'true'

        axios ({
            url: rootPath + 'api/article/saved',
            header: {
                'Content-Type': 'application/json;charset=utf8',
            },
            method: 'POST',
            data: article
        }).then((response) =>{
            Toast.fire({
                icon: 'success',
                title: '发布成功'
            }).then((result) => {
                if(result.dismiss === Swal.DismissReason.timer) {
                    postQuestionBtn.classList.remove('is-loading');
                    postQuestionBtn.disabled = '';
                    window.location.href = rootPath;
                }
            });
        }).catch((error) => {
            postQuestionBtn.classList.remove('is-loading');
            postQuestionBtn.disabled = '';
            alert('出错了');
        })
    });

    const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 1000,
        // timerProgressBar: true,
        didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
    });

    function getArticle() {
        let Article = {};
        Article.title = document.getElementById('title').value;
        Article.content = editor.getValue();
        Article.categoryId = document.getElementById('category').value;
        Article.state = 'POSTED';
        Article.articleType = 'Q';
        return Article;
    }
</script>
</body>
</html>
