<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/static/image/favicon.png" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="/static/materialdesignicons/css/materialdesignicons.min.css">
    <title th:text="教程"></title>
</head>
<body>
<div th:replace="/front/base/navbar::header"></div>

<section class="hero is-light">
    <div class="hero-body">
        <div class="container is-max-widescreen">
            <h1 class="title">
                Kafka中文教程
            </h1>
            <div class="tags">
                <span class="tag is-warning is-light">原创</span>
                <span class="tag is-success is-light">kafka</span>
                <span class="tag is-success is-light">java</span>
                <span class="tag is-light">
                    发表于:2021-01-27
                </span>
                <span class="tag is-light">
                    最后更新于:2021-01-31
                </span>
            </div>
        </div>
    </div>
    <div class="hero-foot">
        <nav class="tabs is-boxed">
            <div class="container is-max-widescreen">
                <ul>
                    <li class="is-active"><a>教程</a></li>
                    <li><a>问答区</a></li>
                    <li><a>最新咨询</a></li>
                    <li><a>工具</a></li>
                </ul>
            </div>
        </nav>
    </div>
</section>

<section class="container is-max-widescreen">
    <div class="columns is-vcentered" th:each="article : ${page.data}">
        <div class="column is-one-fifth">
            <span class="tag is-light">0票</span>
            <span class="tag is-success">2解决</span>
            <span class="tag is-light">20浏览</span>
        </div>
        <div class="column">
            <div class="is-3">
                <a th:href="@{/} + ${article.id}" th:text="${article.title}">k8s11 容器报错</a>
            </div>
            <div class="tags">
                <span class="tag is-success">kubernates</span>
            </div>
        </div>
        <div class="is-one-fifth">
            <span>不荒 5 天前回答</span>
        </div>
    </div>
</section>

<div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
        <div class="tile">
            <div class="tile is-parent is-vertical">
                <article class="tile is-child notification is-primary">
                    <p class="title">Vertical...</p>
                    <p class="subtitle">Top tile</p>
                </article>
                <article class="tile is-child notification is-warning">
                    <p class="title">...tiles</p>
                    <p class="subtitle">Bottom tile</p>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-info">
                    <p class="title">Middle tile</p>
                    <p class="subtitle">With an image</p>
                    <figure class="image is-4by3">
                        <img src="https://bulma.io/images/placeholders/640x480.png">
                    </figure>
                </article>
            </div>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child notification is-danger">
                <p class="title">Wide tile</p>
                <p class="subtitle">Aligned with the right tile</p>
                <div class="content">
                    <!-- Content -->
                </div>
            </article>
        </div>
    </div>
    <div class="tile is-parent">
        <article class="tile is-child notification is-success">
            <div class="content">
                <p class="title">Tall tile</p>
                <p class="subtitle">With even more content</p>
                <div class="content">
                    <!-- Content -->
                </div>
            </div>
        </article>
    </div>
</div>

<footer class="footer">
    <div class="container is-max-widescreen">
        <div class="content has-text-centered">
            <p>
                <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
            </p>
        </div>
    </div>
</footer>


</body>
</html>