<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/static/image/favicon.png" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="/static/materialdesignicons/css/materialdesignicons.min.css">
    <title th:text="教程"></title>
</head>
<body>
<div th:replace="/front/base/navbar::header"></div>

<section class="hero is-light">
    <div class="hero-body">
        <div class="container is-max-widescreen">
            <h1 class="title">
                Kafka中文教程
            </h1>
            <div class="tags">
                <span class="tag is-warning is-light">原创</span>
                <span class="tag is-success is-light">kafka</span>
                <span class="tag is-success is-light">java</span>
                <span class="tag is-light">
                    发表于:2021-01-27
                </span>
                <span class="tag is-light">
                    最后更新于:2021-01-31
                </span>
            </div>
        </div>
    </div>
    <div class="hero-foot">
        <nav class="tabs is-boxed">
            <div class="container is-max-widescreen">
                <ul>
                    <li th:classappend="${typeAggregate.checked ? 'is-active': ''}" th:each="typeAggregate: ${typeAggregates}">
                        <a th:href="@{/}+${typeAggregate.alias}" th:text="${typeAggregate.name}">教程
                            <span class="tag" th:text="0"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</section>

<section class="container is-max-widescreen" th:if="${!#lists.isEmpty(page.data)}">
    <div class="columns is-vcentered" th:each="article : ${page.data}">
        <div class="column is-one-fifth">
            <span class="tag is-light">0票</span>
            <span class="tag is-success">2解决</span>
            <span class="tag is-light">20浏览</span>
        </div>
        <div class="column">
            <div class="is-3">
                <a th:href="@{/} + ${article.id}" th:text="${article.title}">k8s11 容器报错</a>
            </div>
            <div class="tags">
                <span class="tag is-success">kubernates</span>
            </div>
        </div>
        <div class="is-one-fifth">
            <span>不荒 5 天前回答</span>
        </div>
    </div>
</section>
<section class="container is-max-widescreen" th:if="${#lists.isEmpty(page.data)}">
    <div>oops not content</div>
</section>


<footer class="footer">
    <div class="container is-max-widescreen">
        <div class="content has-text-centered">
            <p>
                <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
            </p>
        </div>
    </div>
</footer>


</body>
</html>