<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/github-markdown.css">
<!--    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="/static/materialdesignicons/css/materialdesignicons.min.css">
    <title th:text="教程">教程-Rowspot.cn</title>
</head>
<body>
<div th:replace="/front/base/navbar::header"></div>

<section class="hero is-light">
    <div class="hero-body">
        <div class="container is-max-widescreen">
            <h3 class="title" th:text="${articleAggregate.title}">
                Hero title
            </h3>
            <h4 class="subtitle">
                Hero subtitle
            </h4>
        </div>
    </div>
    <div class="hero-foot">
        <nav class="tabs is-boxed">
            <div class="container is-max-widescreen">
                <ul>
                    <li class="is-active"><a>教程</a></li>
                    <li><a>问答区</a></li>
                    <li><a>最新咨询</a></li>
                    <li><a>工具</a></li>
                </ul>
            </div>
        </nav>
    </div>
</section>
<section class="section">
    <div class="container is-max-widescreen">
        <div class="columns">
            <div class="column is-10 markdown-body" >
                <div class="content markdown-body" th:utext="${articleAggregate.content}"></div>
                <div class="level">
                    <div class="level-item">
                        <span class="mdi mdi-thumb-up" aria-hidden="true"></span>
                        <span>赞一下</span>
                        <span class="tag">601</span>
                    </div>
                </div>
            </div>

            <div class="column">
                <aside class="menu">
                    <p class="menu-label">
                        基本概念和术语
                    </p>
                    <ul class="menu-list">
                        <li><a href="">入门概念</a></li>
                        <li><a href="">Kubernetes管理之master和Node</a></li>
                        <li><a href="">ubernetes Pod介绍</a></li>
                        <li><a href="">ukubernetes Lable（标签）</a></li>
                        <li><a href="">Kubernetes Deployment介绍</a></li>
                    </ul>
                    <p class="menu-label">
                        Administration
                    </p>
                    <ul class="menu-list">
                        <li><a>Team Settings</a></li>
                        <li>
                            <a class="is-active">Manage Your Team</a>
                        </li>
                        <li><a>Invitations</a></li>
                        <li><a>Cloud Storage Environment Settings</a></li>
                        <li><a>Authentication</a></li>
                    </ul>
                    <p class="menu-label">
                        Transactions
                    </p>
                    <ul class="menu-list">
                        <li><a>Payments</a></li>
                        <li><a>Transfers</a></li>
                        <li><a>Balance</a></li>
                    </ul>
                </aside>
            </div>

        </div>
    </div>
</section>
<section>
    <div class="container is-max-widescreen">
        <article class="media">
            <figure class="media-left">
                <p class="image is-48x48">
                    <img src="https://bulma.io/images/placeholders/128x128.png">
                </p>
            </figure>
            <div class="media-content">
                <div class="field">
                    <p class="control">
                        <textarea id="content" class="textarea" placeholder="Add a comment..."></textarea>
                    </p>
                </div>
                <nav class="level">
<!--                    <div class="level-right">-->
<!--                        <div class="level-item">-->
                            <button id="post-comment" class=" button is-info">发布</button>
<!--                        </div>-->
<!--                    </div>-->
                </nav>
            </div>
        </article>
        <article class="media">
            <figure class="media-left">
                <p class="image is-48x48">
                    <img class="is-rounded" src="https://img.orchome.com/head/0A97CB1252F325C84FED9BA6F0240A04">
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <div>
                        <div>
                            <strong>Barbara Middleton</strong>
                            <span class="mdi mdi-menu-right" aria-hidden="true"></span>
                            <span class="mdi mdi-menu-right" aria-hidden="true"></span>
<!--                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10,17L15,12L10,7V17Z"></path></svg>-->
<!--                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M10,17L15,12L10,7V17Z"></path></svg>-->
                            <strong>John</strong>
                            <span>三小时前</span>
                        </div>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis porta eros lacus, nec ultricies elit blandit non. Suspendisse pellentesque mauris sit amet dolor blandit rutrum. Nunc in tempus turpis.
                        <br>
                        <div>
                            <a href="javascript:void(0);">
                                <span class="icon"><i class="mdi mdi-reply"></i></span>
                            </a> ·
                            <a href="javascript:void(0);">
                                <span class="icon"><i class="mdi mdi-twitter-retweet"></i></span>
                            </a> ·
                            <a href="javascript:void(0)">
                                <span class="icon"><i class="mdi mdi-heart-outline"></i></span>
                            </a>
                        </div>
                    </div>
                </div>

                <article class="media">
                    <figure class="media-left">
                        <p class="image is-48x48">
                            <img class="is-rounded" src="https://img.orchome.com/head/0A97CB1252F325C84FED9BA6F0240A04">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>Sean Brown</strong>
                                <br>
                                Donec sollicitudin urna eget eros malesuada sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam blandit nisl a nulla sagittis, a lobortis leo feugiat.
                                <br>
                                <small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
                            </p>
                        </div>
                    </div>
                </article>

                <article class="media">
                    <figure class="media-left">
                        <p class="image is-48x48">
                            <img class="is-rounded" src="https://img.orchome.com/head/0A97CB1252F325C84FED9BA6F0240A04">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>Kayli Eunice </strong>
                                <br>
                                Sed convallis scelerisque mauris, non pulvinar nunc mattis vel. Maecenas varius felis sit amet magna vestibulum euismod malesuada cursus libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus lacinia non nisl id feugiat.
                                <br>
                                <small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        </article>
    </div>
</section>
<footer class="footer">
    <div class="container is-max-widescreen">
        <div class="content has-text-centered">
            <p>
                <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
            </p>
        </div>
    </div>
</footer>

<script>
    let id = '[[${articleAggregate.id}]]';

    window.onload = function() {

        fetch('/api/article/' + id + '/hits', {
            method: 'PATCH',
            headers: {}
        });

        fetch('/isAuthenticated', {
            method: 'GET',
            headers: {}
        }).then(res => {
            console.log(res);
        })

        // loadingComments(1);
    }


    document.getElementById('post-comment').addEventListener('click', function() {

        let content = document.getElementById('content').value;
        if(content === null || content === "") {
            alert("内容不能为空");
            return;
        }

        fetch('/api/comment/saved', {
            method: 'POST',
            body: JSON.stringify({"content": content, 'articleId': id}),
            headers: {
                'Content-Type': 'application/json;charset=utf8',
            }
        }).then(res => res.json())
        .catch(error => {
            console.log("error", error);
        }).then(res => {
            console.log(res);
        })

    })


    function loadingComments(page) {

        fetch('/api/article/' + id + '/comments/' + page , {
            method: 'GET',
            headers: {}
        }).then(res => {
            console.log(res);
        })
    }

</script>
</body>
</html>