<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="/static/materialdesignicons/css/materialdesignicons.min.css">
    <title>Oops</title>
</head>
<body>

<section class="section hero is-fullheight is-error-section">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-two-fifths">
                    <div class="has-text-centered">
                        <div>
                            <div class="error-page-icon">
                                <span class="icon"><i class="mdi mdi-power-plug default"></i></span>
                            </div>
                            <div class="error-page-caption">
                                <h1>Sample error</h1>
                            </div>
                            <div class="error-page-action">
                                <div class="buttons is-centered">
                                    <a th:href="@{/}" class="button is-black">
                                        Go Back
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-foot has-text-centered">
        <div class="logo"></div>
    </div>
</section>

<!-- Icons below are for demo only. Feel free to use any icon pack. Docs: https://bulma.io/documentation/elements/icon/ -->
<!--<link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">-->
</body>
</html>