<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--    <link rel="stylesheet" href="/static/css/index.css">-->
    <link rel="stylesheet" href="/static/bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
    <title>RowSpot主页</title>
</head>
<body>
    <header class="navbar navbar-expand-lg navbar-dark" style="background-color: #3b3e43;">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="https://static.oschina.net/new-osc/img/logo_new.svg">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-tag="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/dubbo/index">dubbo教程</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/netty/index">netty教程</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ask/issues">问答</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/user/login?redirect=https://localhost:8188/user/1/profile" class="nav-link">登陆</a>
                    </li>
                    <li class="nav-item">
                        <a href="/user/register" class="nav-link">注册</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <main role="main" class="container">
        <div class="row mt-2">
            <div class="col-md-9 text-center">
                <div class="row">
                    <div class="col-md-6">
                        <div class="d-flex border-bottom mb-2">
                            <div><span class="font-weight-bold" style="font-size: 14px;">最新资讯</span></div>
                            <div class="ml-auto">
                                <small class="text-muted">更多»</small>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-center" style="height: 4px; width: 4px; background-color:orange;"></div>
                            <div class="small text-left flex-fill" style="margin-left: 8px; margin-right: 8px;">
                                <a href="" class="text-decoration-none">11/24k3s v1.0.0版本发布说明</a>
                            </div>
                            <div><small class="text-muted">11/24</small></div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-center" style="height: 4px; width: 4px; background-color:orange;"></div>
                            <div class="small text-left flex-fill" style="margin-left: 8px; margin-right: 8px;"><a href="">11/24k3s v1.0.0版本发布说明</a></div>
                            <div><small class="text-muted">11/24</small></div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-center" style="height: 4px; width: 4px; background-color:orange;"></div>
                            <div class="small text-left flex-fill" style="margin-left: 8px; margin-right: 8px;"><a href="">11/24k3s v1.0.0版本发布说明</a></div>
                            <div><small class="text-muted">11/24</small></div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-center" style="height: 4px; width: 4px; background-color:orange;"></div>
                            <div class="small text-left flex-fill" style="margin-left: 8px; margin-right: 8px;"><a href="">11/24k3s v1.0.0版本发布说明</a></div>
                            <div><small class="text-muted">11/24</small></div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-center" style="height: 4px; width: 4px; background-color:orange;"></div>
                            <div class="small text-left flex-fill" style="margin-left: 8px; margin-right: 8px;"><a href="">11/24k3s v1.0.0版本发布说明</a></div>
                            <div><small class="text-muted">11/24</small></div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-center" style="height: 4px; width: 4px; background-color:orange;"></div>
                            <div class="small text-left flex-fill" style="margin-left: 8px; margin-right: 8px;"><a href="">11/24k3s v1.0.0版本发布说明</a></div>
                            <div><small class="text-muted">11/24</small></div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-center" style="height: 4px; width: 4px; background-color:orange;"></div>
                            <div class="small text-left flex-fill" style="margin-left: 8px; margin-right: 8px;"><a href="">11/24k3s v1.0.0版本发布说明</a></div>
                            <div><small class="text-muted">11/24</small></div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-center" style="height: 4px; width: 4px; background-color:orange;"></div>
                            <div class="small text-left flex-fill" style="margin-left: 8px; margin-right: 8px;"><a href="">11/24k3s v1.0.0版本发布说明</a></div>
                            <div><small class="text-muted">11/24</small></div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-center" style="height: 4px; width: 4px; background-color:orange;"></div>
                            <div class="small text-left flex-fill" style="margin-left: 8px; margin-right: 8px;"><a href="">11/24k3s v1.0.0版本发布说明</a></div>
                            <div><small class="text-muted">11/24</small></div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-center" style="height: 4px; width: 4px; background-color:orange;"></div>
                            <div class="small text-left flex-fill" style="margin-left: 8px; margin-right: 8px;"><a href="">11/24k3s v1.0.0版本发布说明</a></div>
                            <div><small class="text-muted">11/24</small></div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-center" style="height: 4px; width: 4px; background-color:orange;"></div>
                            <div class="small text-left flex-fill" style="margin-left: 8px; margin-right: 8px;"><a href="">11/24k3s v1.0.0版本发布说明</a></div>
                            <div><small class="text-muted">11/24</small></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex border-bottom mb-2">
                            <div><span class="font-weight-bold" style="font-size: 14px;">最新分享</span></div>
                            <div class="ml-auto">
                                <small class="text-muted">更多»</small>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-center" style="height: 4px; width: 4px; background-color:orange;"></div>
                            <div class="small text-left flex-fill" style="margin-left: 8px; margin-right: 8px;">
                                <a href="" class="text-decoration-none">11/24k3s v1.0.0版本发布说明</a>
                            </div>
                            <div><small class="text-muted">11/24</small></div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-center" style="height: 4px; width: 4px; background-color:orange;"></div>
                            <div class="small text-left flex-fill" style="margin-left: 8px; margin-right: 8px;"><a href="">11/24k3s v1.0.0版本发布说明</a></div>
                            <div><small class="text-muted">11/24</small></div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-center" style="height: 4px; width: 4px; background-color:orange;"></div>
                            <div class="small text-left flex-fill" style="margin-left: 8px; margin-right: 8px;"><a href="">11/24k3s v1.0.0版本发布说明</a></div>
                            <div><small class="text-muted">11/24</small></div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-center" style="height: 4px; width: 4px; background-color:orange;"></div>
                            <div class="small text-left flex-fill" style="margin-left: 8px; margin-right: 8px;"><a href="">11/24k3s v1.0.0版本发布说明</a></div>
                            <div><small class="text-muted">11/24</small></div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-center" style="height: 4px; width: 4px; background-color:orange;"></div>
                            <div class="small text-left flex-fill" style="margin-left: 8px; margin-right: 8px;"><a href="">11/24k3s v1.0.0版本发布说明</a></div>
                            <div><small class="text-muted">11/24</small></div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-center" style="height: 4px; width: 4px; background-color:orange;"></div>
                            <div class="small text-left flex-fill" style="margin-left: 8px; margin-right: 8px;"><a href="">11/24k3s v1.0.0版本发布说明</a></div>
                            <div><small class="text-muted">11/24</small></div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-center" style="height: 4px; width: 4px; background-color:orange;"></div>
                            <div class="small text-left flex-fill" style="margin-left: 8px; margin-right: 8px;"><a href="">11/24k3s v1.0.0版本发布说明</a></div>
                            <div><small class="text-muted">11/24</small></div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-center" style="height: 4px; width: 4px; background-color:orange;"></div>
                            <div class="small text-left flex-fill" style="margin-left: 8px; margin-right: 8px;"><a href="">11/24k3s v1.0.0版本发布说明</a></div>
                            <div><small class="text-muted">11/24</small></div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-center" style="height: 4px; width: 4px; background-color:orange;"></div>
                            <div class="small text-left flex-fill" style="margin-left: 8px; margin-right: 8px;"><a href="">11/24k3s v1.0.0版本发布说明</a></div>
                            <div><small class="text-muted">11/24</small></div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-center" style="height: 4px; width: 4px; background-color:orange;"></div>
                            <div class="small text-left flex-fill" style="margin-left: 8px; margin-right: 8px;"><a href="">11/24k3s v1.0.0版本发布说明</a></div>
                            <div><small class="text-muted">11/24</small></div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-center" style="height: 4px; width: 4px; background-color:orange;"></div>
                            <div class="small text-left flex-fill" style="margin-left: 8px; margin-right: 8px;"><a href="">11/24k3s v1.0.0版本发布说明</a></div>
                            <div><small class="text-muted">11/24</small></div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 64px;">
                    <div class="col-md-6">
                        <div class="d-flex border-bottom pt-2 mb-2">
                            <div><span class="font-weight-bold" style="font-size: 14px;">dubbo中文教程</span></div>
                            <div class="ml-auto">
                                <small class="text-muted">更多<i class="fa fa-angle-right"></i></small>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-center" style="height: 4px; width: 4px; background-color:gray;"></div>
                            <div class="small text-left flex-fill" style="margin-left: 8px; margin-right: 8px;">
                                <a href="" class="text-decoration-none">11/24k3s v1.0.0版本发布说明</a>
                            </div>
                            <div><small class="text-muted">11/24</small></div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-center" style="height: 4px; width: 4px; background-color:gray;"></div>
                            <div class="small text-left flex-fill" style="margin-left: 8px; margin-right: 8px;"><a href="">11/24k3s v1.0.0版本发布说明</a></div>
                            <div><small class="text-muted">11/24</small></div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-center" style="height: 4px; width: 4px; background-color:gray;"></div>
                            <div class="small text-left flex-fill" style="margin-left: 8px; margin-right: 8px;"><a href="">11/24k3s v1.0.0版本发布说明</a></div>
                            <div><small class="text-muted">11/24</small></div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-center" style="height: 4px; width: 4px; background-color:gray;"></div>
                            <div class="small text-left flex-fill" style="margin-left: 8px; margin-right: 8px;"><a href="">11/24k3s v1.0.0版本发布说明</a></div>
                            <div><small class="text-muted">11/24</small></div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-center" style="height: 4px; width: 4px; background-color:gray;"></div>
                            <div class="small text-left flex-fill" style="margin-left: 8px; margin-right: 8px;"><a href="">11/24k3s v1.0.0版本发布说明</a></div>
                            <div><small class="text-muted">11/24</small></div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-center" style="height: 4px; width: 4px; background-color:gray;"></div>
                            <div class="small text-left flex-fill" style="margin-left: 8px; margin-right: 8px;"><a href="">11/24k3s v1.0.0版本发布说明</a></div>
                            <div><small class="text-muted">11/24</small></div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-center" style="height: 4px; width: 4px; background-color:gray;"></div>
                            <div class="small text-left flex-fill" style="margin-left: 8px; margin-right: 8px;"><a href="">11/24k3s v1.0.0版本发布说明</a></div>
                            <div><small class="text-muted">11/24</small></div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-center" style="height: 4px; width: 4px; background-color:gray;"></div>
                            <div class="small text-left flex-fill" style="margin-left: 8px; margin-right: 8px;"><a href="">11/24k3s v1.0.0版本发布说明</a></div>
                            <div><small class="text-muted">11/24</small></div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-center" style="height: 4px; width: 4px; background-color:gray;"></div>
                            <div class="small text-left flex-fill" style="margin-left: 8px; margin-right: 8px;"><a href="">11/24k3s v1.0.0版本发布说明</a></div>
                            <div><small class="text-muted">11/24</small></div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-center" style="height: 4px; width: 4px; background-color:gray;"></div>
                            <div class="small text-left flex-fill" style="margin-left: 8px; margin-right: 8px;"><a href="">11/24k3s v1.0.0版本发布说明</a></div>
                            <div><small class="text-muted">11/24</small></div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-center" style="height: 4px; width: 4px; background-color:gray;"></div>
                            <div class="small text-left flex-fill" style="margin-left: 8px; margin-right: 8px;"><a href="">11/24k3s v1.0.0版本发布说明</a></div>
                            <div><small class="text-muted">11/24</small></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex border-bottom pt-2 mb-2">
                            <div><span class="font-weight-bold" style="font-size: 14px;">netty教程</span></div>
                            <div class="ml-auto">
                                <small class="text-muted">更多<i class="fa fa-angle-right"></i></small>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-center" style="height: 4px; width: 4px; background-color:gray;"></div>
                            <div class="small text-left flex-fill" style="margin-left: 8px; margin-right: 8px;">
                                <a href="" class="text-decoration-none">11/24k3s v1.0.0版本发布说明</a>
                            </div>
                            <div><small class="text-muted">11/24</small></div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-center" style="height: 4px; width: 4px; background-color:gray;"></div>
                            <div class="small text-left flex-fill" style="margin-left: 8px; margin-right: 8px;"><a href="">11/24k3s v1.0.0版本发布说明</a></div>
                            <div><small class="text-muted">11/24</small></div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-center" style="height: 4px; width: 4px; background-color:gray;"></div>
                            <div class="small text-left flex-fill" style="margin-left: 8px; margin-right: 8px;"><a href="">11/24k3s v1.0.0版本发布说明</a></div>
                            <div><small class="text-muted">11/24</small></div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-center" style="height: 4px; width: 4px; background-color:gray;"></div>
                            <div class="small text-left flex-fill" style="margin-left: 8px; margin-right: 8px;"><a href="">11/24k3s v1.0.0版本发布说明</a></div>
                            <div><small class="text-muted">11/24</small></div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-center" style="height: 4px; width: 4px; background-color:gray;"></div>
                            <div class="small text-left flex-fill" style="margin-left: 8px; margin-right: 8px;"><a href="">11/24k3s v1.0.0版本发布说明</a></div>
                            <div><small class="text-muted">11/24</small></div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-center" style="height: 4px; width: 4px; background-color:gray;"></div>
                            <div class="small text-left flex-fill" style="margin-left: 8px; margin-right: 8px;"><a href="">11/24k3s v1.0.0版本发布说明</a></div>
                            <div><small class="text-muted">11/24</small></div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-center" style="height: 4px; width: 4px; background-color:gray;"></div>
                            <div class="small text-left flex-fill" style="margin-left: 8px; margin-right: 8px;"><a href="">11/24k3s v1.0.0版本发布说明</a></div>
                            <div><small class="text-muted">11/24</small></div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-center" style="height: 4px; width: 4px; background-color:gray;"></div>
                            <div class="small text-left flex-fill" style="margin-left: 8px; margin-right: 8px;"><a href="">11/24k3s v1.0.0版本发布说明</a></div>
                            <div><small class="text-muted">11/24</small></div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-center" style="height: 4px; width: 4px; background-color:gray;"></div>
                            <div class="small text-left flex-fill" style="margin-left: 8px; margin-right: 8px;"><a href="">11/24k3s v1.0.0版本发布说明</a></div>
                            <div><small class="text-muted">11/24</small></div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-center" style="height: 4px; width: 4px; background-color:gray;"></div>
                            <div class="small text-left flex-fill" style="margin-left: 8px; margin-right: 8px;"><a href="">11/24k3s v1.0.0版本发布说明</a></div>
                            <div><small class="text-muted">11/24</small></div>
                        </div>
                        <div class="d-flex">
                            <div class="align-self-center" style="height: 4px; width: 4px; background-color:gray;"></div>
                            <div class="small text-left flex-fill" style="margin-left: 8px; margin-right: 8px;"><a href="">11/24k3s v1.0.0版本发布说明</a></div>
                            <div><small class="text-muted">11/24</small></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <div>热门标签</div>
                        <div class="d-flex flex-wrap index_tag_container">
                            <div>
                                <a class="small tag" href="#">Jetty</a>
                            </div>
                            <div><a class="small tag" href="#">dubbo</a></div>
                            <div><a class="small tag" href="#">java</a></div>
                            <div><a class="small tag" href="#">linux</a></div>
                            <div><a class="small tag" href="#">jvm</a></div>
                            <div><a class="small tag" href="#">springcloud</a></div>
                            <div><a class="small tag" href="#">spring</a></div>
                            <div><a class="small tag" href="#">kafka</a></div>
                            <div><a class="small tag" href="#">Jetty</a></div>
                            <div><a class="small tag" href="#">Jetty</a></div>
                            <div><a class="small tag" href="#">Jetty</a></div>
                            <div><a class="small tag" href="#">Jetty</a></div>
                            <div><a class="small tag" href="#">Jetty</a></div>
                            <div><a class="small tag" href="#">Jetty</a></div>
                            <div><a class="small tag" href="#">Jetty</a></div>
                            <div><a class="small tag" href="#">Jetty</a></div>
                            <div><a class="small tag" href="#">Jetty</a></div>
                            <div><a class="small tag" href="#">Jetty</a></div>
                            <div><a class="small tag" href="#">Jetty</a></div>

                        </div>
                    </div>
                </div>
                <div style="margin-top: 64px;" class="row">
                    <div class="col-md-12">
                        <div>最近留言</div>
                        <ul class="list-unstyled">
                            <li style="border-bottom: 1px dashed #ccc; padding-bottom: 10px; padding-top: 10px">
                                <span class="portrait">
                                    <a class="index_a" href="/user/5343/profile">
                                        <img style="height: 24px; width: 24px;" class="rounded-circle"
                                             src="https://thirdqq.qlogo.cn/g?b=oidb&amp;k=2Brh1ic3wF98gM6DEJYPBaw&amp;s=100&amp;t=1592625870">
                                    </a>
                                </span>
                                <span class="body" style="font-size: 12px;">
                                    <a class="index_a" href="/user/5432/show">BLue</a> :
                                    <span>博主您好，我最近使用kafka遇到一个问题，就是我消费kafka的消息存储到数据库，但是因为插入数据...</span><br/>
                                    <span style="color: #424242; font-size: 12px;">42分钟前</span>
                                </span>
                            </li>
                            <li style="border-bottom: 1px dashed #ccc; padding-bottom: 10px; padding-top: 10px">
                                <span class="portrait">
                                    <a class="index_a" href="/user/5343/profile">
                                        <img style="height: 24px; width: 24px;" class="rounded-circle"
                                             src="https://thirdqq.qlogo.cn/g?b=oidb&amp;k=2Brh1ic3wF98gM6DEJYPBaw&amp;s=100&amp;t=1592625870">
                                    </a>
                                </span>
                                <span class="body" style="font-size: 12px;">
                                    <a class="index_a" href="/user/5432/show">半兽人</a><span>回复</span>
                                    <a class="index_a" href="/user/5432/show">leeleo</a> :
                                    <span>没用过kettle额，你可以先尝试扩大jvm内存去解决，一般调整到达某个高值之后，就会平稳，不会在O..</span><br/>
                                    <span style="color: #424242;">1小时前</span>
                                </span>
                            </li>
                            <li style="border-bottom: 1px dashed #ccc; padding-bottom: 10px; padding-top: 10px">
                                <span class="portrait">
                                    <a class="index_a" href="/user/5343/profile">
                                        <img style="height: 24px; width: 24px;" class="rounded-circle"
                                             src="https://thirdqq.qlogo.cn/g?b=oidb&amp;k=2Brh1ic3wF98gM6DEJYPBaw&amp;s=100&amp;t=1592625870">
                                    </a>
                                </span>
                                <span class="body" style="font-size: 12px;">
                                    <a class="index_a" href="/user/5432/show">BLue</a> :
                                    <span>博主您好，我最近使用kafka遇到一个问题，就是我消费kafka的消息存储到数据库，但是因为插入数据...</span><br/>
                                    <span style="color: #424242; font-size: 12px;">42分钟前</span>
                                </span>
                            </li>
                            <li style="border-bottom: 1px dashed #ccc; padding-bottom: 10px; padding-top: 10px">
                                <span class="portrait">
                                    <a class="index_a" href="/user/5343/profile">
                                        <img style="height: 24px; width: 24px;" class="rounded-circle"
                                             src="https://thirdqq.qlogo.cn/g?b=oidb&amp;k=2Brh1ic3wF98gM6DEJYPBaw&amp;s=100&amp;t=1592625870">
                                    </a>
                                </span>
                                <span class="body" style="font-size: 12px;">
                                    <a class="index_a" href="/user/5432/show">BLue</a> :
                                    <span>博主您好，我最近使用kafka遇到一个问题，就是我消费kafka的消息存储到数据库，但是因为插入数据...</span><br/>
                                    <span style="color: #424242; font-size: 12px;">42分钟前</span>
                                </span>
                            </li>
                            <li style="border-bottom: 1px dashed #ccc; padding-bottom: 10px; padding-top: 10px">
                                <span class="portrait">
                                    <a class="index_a" href="/user/5343/profile">
                                        <img style="height: 24px; width: 24px;" class="rounded-circle"
                                             src="https://thirdqq.qlogo.cn/g?b=oidb&amp;k=2Brh1ic3wF98gM6DEJYPBaw&amp;s=100&amp;t=1592625870">
                                    </a>
                                </span>
                                <span class="body" style="font-size: 12px;">
                                    <a class="index_a" href="/user/5432/show">BLue</a> :
                                    <span>好的，我去试试。感谢回复...</span><br/>
                                    <span style="color: #424242; font-size: 12px;">42分钟前</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="border">
                    <div class="d-flex border-bottom p-2" style="background-color: #EEEEEE;">
                        <div class="small">最近提问</div>
                        <div class="small" style="margin-left: 16px;"><a href="">kafka问答</a></div>
                        <div class="small" style="margin-left: 16px;"><a href="">netty问答</a></div>
                    </div>
                   <div class="d-flex p-2" style="border-bottom: 1px dashed #dddddd;">
                       <div class="small"><a href="#">Kubernetes containerd失败的pull镜像从私有仓库harbor</a> </div>
                       <div class="small text-muted pl-2 pr-2">15小时前</div>
                       <div class="ml-auto small pl-2 pr-2">12</div>
                   </div>
                    <div class="d-flex p-2" style="border-bottom: 1px dashed #dddddd;">
                        <div class="small"><a href="#">kubernetes(k8s)数据没有在各个容器之间共享 </a> </div>
                        <div class="small text-muted pl-2 pr-2">15小时前</div>
                        <div class="ml-auto small pl-2 pr-2">12</div>
                    </div>
                    <div class="d-flex p-2" style="border-bottom: 1px dashed #dddddd;">
                        <div class="small"><a href="#">kafka 2.5.1 consumer支持幂等吗</a> </div>
                        <div class="small text-muted pl-2 pr-2">15小时前</div>
                        <div class="ml-auto small pl-2 pr-2">12</div>
                    </div>
                    <div class="d-flex p-2" style="border-bottom: 1px dashed #dddddd;">
                        <div class="small"><a href="#">请教下kafka消费速度问题 </a> </div>
                        <div class="small text-muted pl-2 pr-2">15小时前</div>
                        <div class="ml-auto small pl-2 pr-2">12</div>
                    </div>
                    <div class="d-flex p-2" style="border-bottom: 1px dashed #dddddd;">
                        <div class="small"><a href="#">kafka mirrorMaker可以做跨版本的kafka集群数据同步吗 </a> </div>
                        <div class="small text-muted pl-2 pr-2">15小时前</div>
                        <div class="ml-auto small pl-2 pr-2">12</div>
                    </div>
                    <div class="d-flex p-2" style="border-bottom: 1px dashed #dddddd;">
                        <div class="small"><a href="#">kafka异步发送很耗时怎么办</a> </div>
                        <div class="small text-muted pl-2 pr-2">15小时前</div>
                        <div class="ml-auto small pl-2 pr-2">12</div>
                    </div>
                     <div class="d-flex p-2" style="border-bottom: 1px dashed #dddddd;">
                        <div class="small"><a href="#">付费下载了使用工具里面的Kafka客户端代码, 我该怎么集成到项目呢? 1</a> </div>
                        <div class="small text-muted pl-2 pr-2">15小时前</div>
                        <div class="ml-auto small pl-2 pr-2">72</div>
                    </div>

                    <div class="d-flex p-2">
                        <div style="height: 8px; width: 8px; background-color: #40AA53;"></div>
                        <div style="height: 8px; width: 8px; margin-left: 8px; background-color:gray;"></div>
                        <div style="height: 8px; width: 8px; margin-left: 8px; background-color:gray;"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer style="margin-top: 64px; background-color: #3b3e43; padding-top: 32px; padding-bottom: 32px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center text-light" style="padding-top: 32px; padding-bottom: 32px;">
                    Rowspot ©2018 www.rowspot.cn, All rights reserved. 粤ICP备19028930号
                </div>
            </div>
        </div>
    </footer>
    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
</body>
</html>