<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="/static/materialdesignicons/css/materialdesignicons.min.css">
    <title>登录/注册</title>
</head>
<body>


<section class="section hero is-fullheight is-error-section">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-two-fifths">
                    <div class="notification is-danger is-light" style="display: none;" id="loginTips"></div>
                    <div class="card has-card-header-background">
                        <header class="card-header">
                            <p class="card-header-title">
                                <span class="icon"><i class="mdi mdi-lock default"></i></span>
                                <span th:text="用户登录">User Login</span>
                            </p>
                        </header>
                        <div class="card-content">
                            <form method="POST" onsubmit="return false;">
                                <div class="field">
                                    <label class="label" th:text="邮箱"></label>
                                    <div class="control has-icons-left">
                                        <input type="text" placeholder="登录邮箱"
                                               autocomplete="off" id="email" name="email"
                                               class="input" autofocus>
                                        <span class="mdi mdi-email is-left icon" aria-hidden="true"></span>
                                    </div>
                                    <p id="emailHelp" style="display: none;" class="help is-danger">
                                        邮箱是必填的
                                    </p>
                                </div>
                                <div class="field">
                                    <label class="label">密码</label>
                                    <div class="control has-icons-left">
                                        <input type="password" placeholder="登录密码"
                                               autocomplete="off" id="password" name="password"
                                               class="input">
                                        <span class="mdi mdi-lock icon is-left" aria-hidden="true"></span>
                                    </div>
                                    <p id="passwordHelp" style="display: none;" class="help is-danger">
                                        密码是必填的
                                    </p>
                                </div>
                                <div class="field">
                                    <label class="b-checkbox checkbox is-thin">
                                        <input type="checkbox" checked disabled>
                                        <span class="check is-black"></span>
                                        <span class="control-label">记住我</span>
                                    </label>
                                </div>
                                <hr>
                                <button type="submit" id="loginBtn" class="button is-black is-fullwidth">
                                    登录
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/static/axios.min.js"></script>
<script src="/static/js/login.js"></script>
</body>
</html>
