<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="https://www.orchome.com/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="/static/materialdesignicons/css/materialdesignicons.min.css">
    <title>登录/注册</title>
</head>
<body>

<section class="section hero is-fullheight is-error-section">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-two-fifths">
                    <div class="card has-card-header-background">
                        <header class="card-header">
                            <p class="card-header-title">
                                <span class="icon"><i class="mdi mdi-lock default"></i></span>
                                <span>用户登录</span>
                            </p>
                            <a th:href="@{/}" class="button is-small router-link-active">首页</a>
                        </header>
                        <div class="card-content">
                            <form method="POST" onsubmit="return false;">
                                <div class="field">
                                    <label class="label">邮箱地址</label>
                                    <div class="control">
                                        <input type="email" placeholder="请输入注册邮箱"
                                               autocomplete="on" id="email" name="email" class="input"
                                               required autofocus>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">密码</label>
                                    <div class="control">
                                        <input type="password" placeholder="请输入登录密码" autocomplete="on" id="password" name="password"
                                               class="input" required>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="b-checkbox checkbox is-thin">
                                        <input type="checkbox" value="false">
                                        <span class="check is-black"></span>
                                        <span class="control-label">记住我</span>
                                    </label>
                                </div>
                                <hr>
                                <div class="field is-grouped">
                                    <div class="control">
                                        <button type="submit" id="loginBtn" class="button is-black">
                                            登录
                                        </button>
                                    </div>
                                    <div class="control">
                                        <a href="javascript:void(0);" class="button is-outlined is-black">
                                            忘记密码?
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-foot has-text-centered">
        <div class="logo"></div>
    </div>
</section>

<script src="/static/sweetalert2/sweetalert2.min.js"></script>
<script>
    const rootPath = '[[@{/}]]';

    document.getElementById('loginBtn').addEventListener('click', function() {
        let email = document.getElementById('email').value;
        let password = document.getElementById('password').value;

        if(email === null || email.length === 0 || email === ""){
            Swal.fire('error', '请输入您的邮箱!', '确认');
            // errorInfo.style.display = 'block';
            return;
        }

        if(password === null || password.length === 0 || password === ""){
            Swal.fire('error', '请输入您的密码!', '确认');
            return;
        }


        fetch('/api/token', {
            body: JSON.stringify({"email": email, "password": password}),
            headers: new Headers({
                'Content-Type': 'application/json;charset=utf8',
            }),
            method: 'POST'
        }).then(res => res.json()).catch(error => {
            console.error('Error:', error)
        }).then(response => {
            console.log('Success:', response);
            window.location.href = '/';
        });
    })
</script>
</body>
</html>