<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/bulma/css/bulma.min.css">
    <title>注册</title>
</head>
<body>
<section class="section hero is-fullheight is-error-section">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-two-fifths">
                    <div class="card has-card-header-background">
                        <header class="card-header">
                            <p class="card-header-title">
                                <span class="icon"><i class="mdi mdi-lock default"></i></span>
                                <span>注册</span>
                            </p>
                        </header>
                        <div class="card-content">
                            <form method="POST">
                                <div class="field">
                                    <label class="label">E-mail Address</label>
                                    <div class="control">
                                        <input type="email" autocomplete="on" name="email" class="input"
                                               required autofocus>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Password</label>
                                    <div class="control">
                                        <input type="password" autocomplete="on" name="password"
                                               class="input" required>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="b-checkbox checkbox is-thin"><input type="checkbox" value="false">
                                        <span class="check is-black"></span>
                                        <span class="control-label">Remember me</span>
                                    </label>
                                </div>
                                <hr>
                                <div class="field is-grouped">
                                    <div class="control">
                                        <button type="submit" class="button is-black">
                                            登录
                                        </button>
                                    </div>
                                    <div class="control">
                                        <a href="password-recovery.html" class="button is-outlined is-black">
                                            忘记密码
                                        </a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-foot has-text-centered">
        <div class="logo"></div>
    </div>
</section>

<link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">

<script>
    document.getElementById('btn-register').addEventListener('click', function() {
        const email = document.getElementById('email').value;
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        const confirmPassword = document.getElementById('confirmPassword').value;

        $.ajax({
            url: '/register',
            data: {'email': email, 'username': username, 'password': password, 'confirmPassword': confirmPassword},
            dataType: 'json',
            method: 'POST',
            success: function(res) {

            }
        });
    });
</script>
</body>
</html>