<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="/static/materialdesignicons/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/markdown-editor-master/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="/static/css/editor.css">
    <link rel="stylesheet" href="/static/markdown-editor-master/codemirror/prism.css">
    <link rel="stylesheet" href="/static/css/github-markdown.css">
    <link rel="stylesheet" href="/static/css/user.css">
    <style>
        body {
            background-color: #e9ecef!important;
        }
        .section {
            padding-top: 1.5rem;
        }

    </style>
    <title>写文章-RowSpot</title>
</head>
<body>
<div th:replace="/front/base/navbar::header"></div>
<section class="section">
    <div class="container is-max-widescreen">
        <div class="columns">
            <div class="column">
                <div class="control">
                    <input id="title" autocomplete="off" class="input is-medium" type="text" placeholder="标题">
                </div>
                <p id="titleHelp" style="display: none;" class="help is-danger">
                    请填写标题
                </p>
            </div>
        </div>
        <div class="columns">
            <div class="column is-one-quarter">
                <div class="field">
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select id="category"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-one-quarter">
                <div class="field">
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select id="menuId" onchange="menuChange();"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-vcentered level">
                <label class="checkbox level-right">
                    <input type="checkbox" checked>
                    更多设置
                </label>
            </div>
        </div>
        <div class="columns">
            <div class="column is-one-quarter">
                <div class="field">
                    <div class="control">
                        <div class="select is-fullwidth">
                            <select id="articleType" onchange="gradeChange();">
                                <option value="I">首页唯一</option>
                                <option value="T">实用工具</option>
                                <option value="A" selected>文章</option>
                                <option value="V">视频</option>
                                <option value="N">最新动态</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns is-gapless" style="border-radius: 4px; border: 1px solid #dbdbdb; height: 550px; max-height: 550px;">
            <div class="column is-half has-fixed-size" style="border-top-left-radius: 4px; border-bottom-left-radius: 4px;">
                <textarea name="content" id="content"  style="padding: 8px 16px; height: 100%; border-top-left-radius: 4px; border-bottom-left-radius: 4px;" placeholder="内容简介"></textarea>
            </div>
            <div class="column is-half has-fixed-size markdown-body" id="preview_out"></div>
        </div>
        <div class="field is-grouped is-grouped-right">
            <div class="control">
                <button data-action="DRAFT" id="article-draft-btn" class="button is-warning">存为草稿</button>
            </div>
            <div class="control">
                <button data-action="POSTED" id="article-post-btn"  class="button is-success">发布</button>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal" id="addMenuModal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">创建菜单</p>
            <button class="delete" onclick="closeAddMenuModal()" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="control">
                <input id="menuName" autocomplete="off" class="input"
                       type="text" placeholder="二级专栏菜单名称">
            </div>
            <p id="menuNameHelp" style="display: none;" class="help is-danger">
                专栏菜单名称不能为空
            </p>
        </section>
        <footer class="modal-card-foot">
            <button class="button" onclick="closeAddMenuModal()">关闭</button>
            <button class="button is-success" id="saveMenuButton">提交</button>
        </footer>
    </div>
</div>
<script src="/static/markdown-editor-master/codemirror/lib/codemirror.js"></script>
<script src="/static/markdown-editor-master/codemirror/markdown/markdown.js"></script>
<script src="/static/markdown-editor-master/codemirror/marked.min.js"></script>
<script src="/static/markdown-editor-master/codemirror/prism.js"></script>
<script src="/static/axios.min.js"></script>

<script>

    let editor;
    let category;
    let menuNameHelpElement = document.getElementById('menuNameHelp');
    let menuNameElement = document.getElementById('menuName');
    let rootPath = '/';

    window.onload = function() {
        let markedRender = new marked.Renderer();
        marked.setOptions({
            render: markedRender,
            gfm: true,
            tables: true,
            breaks: true, // '>' 换行，回车换行成 <br>
            pedantic: false,
            sanitize: true,
            smartLists: true,
            smartypants: false
        });
        editor = CodeMirror.fromTextArea(document.getElementById('content'), {
            mode:'markdown',
            // lineNumbers: true,
            autoCloseBrackets: true,
            matchBrackets: true,
            lineWrapping: true
        });
        editor.on('change', editorOnHandler);
        initialCategories();
    };

    document.getElementById('category').addEventListener('change', function() {
        let selected = document.getElementById('category');
        let selectedIndex = selected.selectedIndex;
        let selectedValue = selected.options[selectedIndex].value;
        if(selectedValue !== '') {
            axios({
                url:'/api/category/' + selectedValue,
                method: 'GET',
                header: {
                    'Content-Type': 'application/json;charset=utf8',
                }
            }).then(response => {
                let data = response.data;
                let html = '<option value="">请选择</option>';
                html += '<option value="add">【--增加新选项--】</option>';
                for (let i = 0; i < data.length; i++) {
                    let menu = data[i];
                    html += '<option value="' + menu.menuId + '">' + menu.name + '</option>';
                }
                document.getElementById('menuId').innerHTML = html;
            }).catch(error => {

            })
        } else {
            document.getElementById('menuId').innerHTML = '';
        }
    })


    function menuChange() {
        let menuId = document.getElementById('menuId').value;
        if(menuId === 'add') {
            document.getElementById('addMenuModal').classList.add('is-active');
        }
    }

    function closeAddMenuModal() {
        document.getElementById('addMenuModal').classList.remove('is-active');
        document.getElementById('menuId').value = '';
        document.getElementById('menuName').value = '';
        menuNameHelpElement.style.display = 'none';
        menuNameElement.classList.remove('is-danger');
    }

    //保存二级专栏菜单
    document.getElementById('saveMenuButton').addEventListener('click', function(){
        if(menuNameElement.value === '' || menuNameElement.value.length === 0){
            menuNameElement.classList.add('is-danger');
            menuNameHelpElement.style.display = 'block';
            menuNameHelpElement.innerText = '分类名称不能为空';
            return;
        }
        let categoryId = document.getElementById('category').value;
        let menuName = document.getElementById('menuName').value;

        axios({
            url: '/api/category/saved',
            method: 'POST',
            header: {
                'Content-Type': 'application/json;charset=utf8',
            },
            data: {'parentId': categoryId, 'name': menuName},
        }).then(response => {
            closeAddMenuModal();
            let saveCategory = response.data;
            let html = '<option value="'+saveCategory.id+'">'+saveCategory.name+'</option>';
            document.getElementById('menuId').append(html);
            document.getElementById('menuId').value = saveCategory.id;
        }).catch(error => {
            let data = error.response.data;
            menuNameElement.classList.add('is-danger');
            menuNameHelpElement.style.display = 'block';
            menuNameHelpElement.innerText = data.errors.msg;
        });
    });


    function gradeChange() {
        let articleType = document.getElementById('articleType');
        let articleTypeIndex = articleType.selectedIndex;
        let value = articleType.options[articleTypeIndex].value;
        if(value === 'A') {//只有文章的时候显示
            document.getElementById('menuId').style.display = 'block';
        } else {
            document.getElementById('menuId').style.display = 'none';
        }
    }


    function editorOnHandler(cm, co) {
        document.getElementById('preview_out').innerHTML = marked(cm.getValue());
        // $('.markdown-body').html(marked(cm.getValue()));
        // $('.markdown-body pre code').each(function(i, block) {
        //     Prism.highlightElement(block);
        // });
    }


    function initialCategories() {
        axios({
            url: '/api/categories',
            method: 'GET',
            headers: {
                'Content-Type':'application/json;charset=utf8'
            }
        }).then(response => {
            let data = response.data;
            let html = "<option value=''>请选择专栏</option>";
            for(let i = 0; i < data.length; i++){
                let category = data[i];
                html += '<option value="' + category.id + '">' + category.name + '</option>';
            }
            document.getElementById('category').innerHTML = html;
        });
    }



    let articleDraftBtn = document.getElementById('article-draft-btn');
    let articlePostBtn = document.getElementById('article-post-btn');
    let articleTitleHelp = document.getElementById('titleHelp');
    let articleTitle = document.getElementById('title');

    articlePostBtn.addEventListener('click', function() {
        this.classList.add('is-loading');
        this.disabled = 'true';
        articleDraftBtn.disabled = 'true';
        let article = getArticle();
        if(article.title === null || article.title === ''){
            // alert('请输入分享标题');
            articleTitleHelp.style.display='block';
            articleTitle.classList.add('is-danger');
            this.classList.remove('is-loading');
            this.disabled = '';
            articleDraftBtn.disabled = '';
            return;
        }
        saveArticle(article);
    });

    articleDraftBtn.addEventListener('click', function() {

        this.classList.add('is-loading');
        this.disabled = 'true';
        articlePostBtn.disabled = 'true';
        let article = getArticle();
        article.state = 'DRAFT';
        if(article.title === null || article.title === ''){
            // alert('请输入分享标题');
            articleTitleHelp.style.display='block';
            articleTitle.classList.add('is-danger');
            this.classList.remove('is-loading');
            this.disabled = '';
            articlePostBtn.disabled = '';
            return;
        }
        saveArticle(article);
    });

    function saveArticle(article) {
        axios({
            url: rootPath + 'api/article/saved',
            header: {
                'Content-Type': 'application/json;charset=utf8',
            },
            data: article,
            method: 'POST'
        }).then(response => {



        }).catch(error => {
            console.error('error:', error)
        });
    }

    function getArticle() {
        let Article = {};
        Article.title = articleTitle.value;
        Article.content = editor.getValue();
        Article.categoryId = document.getElementById('category').value;
        Article.state = 'POSTED';
        Article.articleType = document.getElementById('articleType').value;
        if(Article.articleType === 'A') {
            Article.menuId = document.getElementById('menuId').value;
        }
        return Article;
    }
</script>
</body>
</html>
